* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

main {
  max-width: 1920px;
  min-width: 320px;
}

header {
  padding: 0 1.75rem;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  background: url("../img/headerBg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}
.mainBlock .header {
  display: flex;
  flex-direction: column;
}
.mainBlock h1 {
  text-align: center;
  padding: 0rem 6rem 3rem 6rem;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}
.mainBlock .callBack {
  margin: auto;
  width: 208px;
  height: 55px;
  border: 2px solid #FFF;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
}
.mainBlock .arrowDown {
  margin: auto;
  padding-top: 27.625rem;
  cursor: pointer;
}

.blockDescription {
  background: linear-gradient(165.95deg, #D1C6B0 0%, #FFFFFF 50.83%, #D3D3D3 100%);
}
.blockDescription .title {
  font-weight: 600;
  line-height: 52px;
  font-size: 48px;
  padding: 2rem 0;
}
.blockDescription .callBack {
  margin-bottom: auto;
  width: 208px;
  height: 55px;
  border: 2px solid #FFF;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  filter: invert(100%);
}
.blockDescription .sliderImg {
  padding: 2rem 0 2rem 0;
}
.blockDescription .sliderImg img {
  margin-bottom: 2.5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}
.blockDescription .btnBlock {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

.advantages {
  color: #fff;
  background: url("../img/advantagesBg.jpg") no-repeat center;
  background-size: cover;
}
.advantages .title {
  padding-top: 2.5rem;
}
.advantages .advBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages .advBlock .advBlockText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 2rem;
  width: 15rem;
  float: left;
}
.advantages .advBlock .advBlockText .imgTitle {
  margin: 1rem auto;
}
.advantages .advBlock .advBlockText .advText {
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}

.slick-slide img {
  padding: 1rem;
}

.comment {
  background: linear-gradient(180deg, #CDEFA1 0%, #D1CDE2 100%);
}
.comment .title {
  padding: 2.5rem 0;
}
.comment .comBlockMain {
  padding: 4.125rem 0 5rem 0;
  display: flex;
  justify-content: space-around;
}
.comment .comBlockMain .comAvatar {
  margin-right: 2rem;
}
.comment .comBlockMain .comText {
  padding: 1rem;
}
.comment .comBlockMain .comText .name {
  padding-bottom: 1.875rem;
}

.partners {
  background: -webkit-linear-gradient(271deg, #2F2F2F 0%, #5C5C5C 100%);
  background: -o-linear-gradient(271deg, #2F2F2F 0%, #5C5C5C 100%);
  background: linear-gradient(1deg, #2F2F2F 0%, #5C5C5C 100%);
  display: flex;
  color: #fff;
}
.partners .title {
  padding: 2.5rem 0;
}
.partners .partSlide {
  margin: 6.125rem auto;
}
.partners .partSlide .partImg {
  display: inline-block;
}
.partners .partSlide .partImg:first-child {
  margin-left: 2rem;
}

.contactForm {
  background: url("../img/commBg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
}
.contactForm .mainFormBlock {
  margin-left: auto;
  margin-top: 5.625rem;
  display: flex;
  flex-direction: column;
  transform: translateX(-11rem);
}
.contactForm .mainFormBlock .title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.contactForm .mainFormBlock .formBlock {
  display: flex;
  flex-direction: column;
}
.contactForm .mainFormBlock .formBlock input,
.contactForm .mainFormBlock .formBlock textarea {
  margin-bottom: 1.25rem;
  padding: 10px 0 10px 5px;
  background-color: #F9E8AC;
  border: 1px solid #000000;
}
.contactForm .mainFormBlock .callBack {
  margin: 1rem auto;
  width: 208px;
  height: 55px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: transparent;
  color: #000;
}
.contactForm .mainFormBlock p {
  font-weight: 300;
  font-size: 9px;
  text-align: center;
  margin-bottom: 4.5rem;
}

footer {
  color: #fff;
  background: linear-gradient(299.87deg, #2F2F2F 0%, #5C5C5C 100%);
}
footer h2 {
  padding-top: 2.75rem;
}
footer .contatctBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.625rem 0 7rem 0;
}
footer .contatctBlock .contactBlockText p {
  padding-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
