* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

main {
  max-width: 1920px;
  min-width: 320px;
}

header {
  padding: 0 1.75rem;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  background: url("../img/headerBg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}
.mainBlock .header {
  display: flex;
  flex-direction: column;
}
.mainBlock a {
  margin: auto;
}
.mainBlock h1 {
  text-align: center;
  padding: 0rem 6rem 3rem 6rem;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  transform: translateY(6rem);
}
.mainBlock .callBack {
  margin: auto;
  width: 208px;
  height: 55px;
  border: 2px solid #FFF;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  transform: translateY(6rem);
  cursor: pointer;
}
.mainBlock .arrowDown {
  margin-left: auto;
  margin-right: auto;
  margin-top: 27.625rem;
  cursor: pointer;
}
.mainBlock a {
  color: #fff;
}
.mainBlock a:hover {
  color: #F9E8AC;
}

.blockDescription {
  background: linear-gradient(165.95deg, #D1C6B0 0%, #FFFFFF 50.83%, #D3D3D3 100%);
}
.blockDescription .title {
  font-weight: 600;
  line-height: 52px;
  font-size: 3rem;
  padding: 2rem 0;
}
.blockDescription .callBack {
  cursor: pointer;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}
.blockDescription .callBack button {
  margin-bottom: auto;
  width: 208px;
  height: 55px;
  border: 2px solid #FFF;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  filter: invert(100%);
  cursor: pointer;
}
.blockDescription .sliderImg {
  padding: 2rem 0 2rem 0;
}
.blockDescription .sliderImg img {
  margin-bottom: 2.5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}
.blockDescription .btnBlock {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
.blockDescription .textDescription {
  text-align: justify;
  padding: 0 3rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

.gen {
  background: linear-gradient(180deg, #CDEFA1 0%, #D1CDE2 100%);
}

.advantages {
  color: #fff;
  background: url("../img/advantagesBg.jpg") no-repeat center;
  background-size: cover;
}
.advantages .title {
  padding-top: 2.5rem;
}
.advantages .advBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages .advBlock .advBlockText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 2rem;
  width: 15rem;
  float: left;
}
.advantages .advBlock .advBlockText .imgTitle {
  margin: 1rem auto;
}
.advantages .advBlock .advBlockText .advText {
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}

.comment .title {
  padding: 2.5rem 0;
}
.comment .comBlockMain {
  padding: 4.125rem 0 5rem 0;
  display: flex;
  justify-content: space-around;
}
.comment .comBlockMain .comAvatar {
  margin: auto;
}
.comment .comBlockMain .comAvatar img {
  margin-top: 1.5rem;
}
.comment .comBlockMain .comText {
  padding: 1rem;
  margin: auto;
}
.comment .comBlockMain .comText .name {
  padding-bottom: 1.875rem;
}

.general {
  background: linear-gradient(299.87deg, #2F2F2F 0%, #5C5C5C 100%);
}

.partners {
  display: flex;
  color: #fff;
}
.partners .title {
  padding: 2.5rem 0;
}
.partners .slick-slide img {
  padding: 1rem;
}
.partners .partSlide {
  margin: 6.125rem auto;
}
.partners .partSlide .partImg {
  display: inline-block;
}
.partners .partSlide .partImg:first-child {
  margin-left: 2rem;
}

.contactForm {
  background: url("../img/commBg.jpg") center;
  background-size: cover;
  display: flex;
  padding: 6rem 0;
}
.contactForm .mainFormBlock {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  margin: 9.625rem 10rem 0 auto;
}
.contactForm .mainFormBlock .title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin: 2.5rem 0;
}
.contactForm .mainFormBlock .formBlock {
  display: flex;
  flex-direction: column;
}
.contactForm .mainFormBlock .formBlock input,
.contactForm .mainFormBlock .formBlock textarea {
  margin-bottom: 1.25rem;
  padding: 10px 0 10px 5px;
  background-color: #F9E8AC;
  border: 1px solid #000000;
}
.contactForm .mainFormBlock .callBack {
  margin: 1rem auto;
  width: 208px;
  height: 55px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}
.contactForm .mainFormBlock p {
  font-weight: 300;
  font-size: 9px;
  text-align: center;
  margin-bottom: 4.5rem;
}

footer {
  color: #fff;
}
footer h2 {
  padding-top: 2.75rem;
}
footer .contatctBlock {
  padding: 3.625rem 0 7rem 0;
}
footer .contatctBlock .contactBlockText {
  margin: auto 0;
}
footer .contatctBlock .contactBlockText p {
  padding-bottom: 2rem;
}
footer .contactBlockMap {
  display: flex;
}
footer .contactBlockMap iframe {
  margin-left: auto;
}

.modalForm {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  z-index: 5000;
}

.modal {
  background: linear-gradient(180deg, #CDEFA1 0%, #D1CDE2 100%);
  top: 30%;
  left: 25%;
  width: 50%;
  height: 60%;
}
.modal .modalMainBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.modal img {
  margin: 20% 3rem;
}
.modal .modalText {
  padding: 25% 2rem 0 2rem;
  text-align: center;
}
.modal .modalClose {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 0;
  line-height: initial;
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  main {
    max-width: auto;
  }

  .mainBlock .arrowDown {
    margin-top: 9rem;
  }
  .mainBlock h1,
  .mainBlock .callBack {
    transform: translateY(0);
  }

  .contactForm {
    padding: 0;
  }
  .contactForm .mainFormBlock {
    margin: 9.625rem 2rem 0 auto;
  }

  .modal img {
    margin: 10% 3rem;
  }
  .modal .modalText {
    padding: 15% 2rem 0 2rem;
    text-align: center;
  }

  .blockDescription .btnBlock .row {
    margin: auto !important;
  }

  .comment .comBlockMain .comAvatar {
    margin: auto 0 auto auto;
  }
  .comment .comBlockMain .comText {
    margin: auto;
  }
}
@media screen and (max-width: 1024px) {
  .blockDescription .textDescription,
  .blockDescription .btnBlock {
    padding: 0;
  }
  .blockDescription .sliderImg {
    display: flex;
  }
  .blockDescription .sliderImg img {
    margin: 1rem;
  }
  .blockDescription .sliderImg .slick-list {
    margin: auto !important;
  }
}
@media screen and (max-width: 768px) {
  .btnBlock .row {
    margin: auto !important;
  }

  .sliderImg {
    display: flex;
    padding: 0;
    box-shadow: none;
  }
  .sliderImg img {
    margin: 0 auto;
  }
  .sliderImg .slick-list {
    margin: auto !important;
  }

  .comment .comBlockMain .comAvatar {
    display: flex;
  }
  .comment .comBlockMain .comAvatar img {
    margin: auto;
  }
  .comment .comBlockMain .comText .name {
    text-align: center;
  }
  .comment .comBlockMain p {
    color: #000;
  }

  .contactForm .mainFormBlock {
    color: #fff;
    margin: auto;
  }
  .contactForm .mainFormBlock .title {
    text-shadow: 1px 1px 2px black, 0 0 0.5rem #000;
  }
}
@media screen and (max-width: 600px) {
  .mainBlock h1 {
    padding: 0;
    font-size: 3rem;
  }
  .mainBlock .arrowDown {
    margin-top: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .blockDescription .callBack {
    display: flex;
    margin: 1rem 0;
  }
  .blockDescription .callBack button {
    margin: auto;
  }
  .blockDescription .callBack:first-child {
    padding-top: 1rem;
  }
  .blockDescription .btnBlock {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .blockDescription .textDescription {
    text-align: justify;
    padding: 0;
  }
  .blockDescription .sliderImg img {
    margin: auto;
  }

  .contactForm .mainFormBlock {
    transform: translateX(0rem);
    margin: 9.625rem auto 0 auto;
  }
  .contactForm .title {
    text-shadow: 1px 1px 2px black, 0 0 0.5rem #000;
  }
  .contactForm p {
    color: #000;
  }

  .comment .comBlockMain {
    padding: 0.125rem 0 0 0;
  }
  .comment .comBlockMain .comAvatar {
    display: flex;
    margin-right: 0;
  }
  .comment .comBlockMain .comAvatar img {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .comment .comBlockMain .comText {
    text-align: justify;
  }
  .comment .comBlockMain .comText .name {
    text-align: center;
  }

  .advantages .advBlock .advBlockText {
    margin: 1rem auto;
  }

  .modal {
    width: 87%;
    height: 50%;
    left: 7%;
  }
}

/*# sourceMappingURL=style.css.map */
