@media screen and (max-width: 1366px){
	main{
		max-width: auto;
	}
	.mainBlock{
		.arrowDown{
			margin-top: 9rem;
		}
		h1,
		.callBack{
			transform: translateY(0);
		}
	}
	.contactForm{
		padding: 0;
		.mainFormBlock{
			margin: 9.625rem 2rem 0 auto;
		}
	}
	.modal{
		img{
			margin: 10% 3rem;
		}
		.modalText{
			padding: 15% 2rem 0 2rem;
			text-align: center;
		}
	}
	.blockDescription{
		.btnBlock{
			.row{
				margin: auto !important;
			}
		}
	}
	.comment{
		.comBlockMain{
			.comAvatar{
				margin: auto 0 auto auto;
			}
			.comText{
				margin: auto;
			}
		}
	}
}
@media screen and (max-width: 1024px){
	.blockDescription{
		.textDescription,
		.btnBlock{
			padding: 0;
		}
		.sliderImg{
			display: flex;
			img{
				margin: 1rem;
			}
			.slick-list{
				margin: auto !important;
			}
		}
	}
}
@media screen and (max-width: 768px){
	.btnBlock{
		.row{
			margin: auto !important;
		}
	}
	.sliderImg{
		display: flex;
		padding: 0;
		box-shadow: none;
		img{
			margin:0 auto;

		}
		.slick-list{
			margin: auto !important;
		}
	}
	.comment{
		.comBlockMain{
			.comAvatar{
				display: flex;
				img{
					margin: auto;
				}
			}
			.comText{
				.name{
					text-align: center;
				}
			}
			p{
				color: #000;
			}
		}
	}
	.contactForm{
		.mainFormBlock{
			.title{
				text-shadow: 1px 1px 2px black, 0 0 0.5rem #000;
			}
			color: #fff;
			margin: auto;
		}
	}
}
@media screen and (max-width: 600px){
	.mainBlock{
		h1{
			padding: 0;
			font-size: $font48;
		}
		.arrowDown{
			margin-top: 3rem;
		}
	}
	h2{
		font-size: $font48 - 1rem;
	}
	.blockDescription{
		.callBack{
			display: flex;
			margin: 1rem 0;
			button{
				margin: auto;
			}
			&:first-child{
				padding-top: 1rem;
			}
		}
		.btnBlock{
			display: flex;
			justify-content: space-between;
			padding: 0;
		}
		.textDescription{
			text-align: justify;
			padding: 0;
		}
		.sliderImg{
			img{
				margin:auto;
			}
		}
	}
	.contactForm{
		.mainFormBlock{
			transform: translateX(0rem);
			margin: 9.625rem auto 0 auto;
		}
		.title{
			text-shadow: 1px 1px 2px black, 0 0 0.5rem #000;
		}
		p{
			color: #000;
		}

	}
	.comment{
		.comBlockMain{
			padding: 0.125rem 0 0 0;
			.comAvatar{
				display: flex;
				margin-right: 0;
				img{
					margin-top: 0;
					margin-right: auto;
					margin-left: auto;
				}
			}
			.comText{
				text-align: justify;
				.name{
					text-align: center;
				}
			}
		}
	}
	.advantages{
		.advBlock{
			.advBlockText{
				margin: 1rem auto;
			}
		}
	}
	.modal{
		width: 87%;
		height: 50%;
		left: 7%;
	}
}