*{
	margin: 0;
	padding: 0;
}
body,
html{
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
main{
	max-width: 1920px;
	min-width: 320px;
}
header{
	padding: 0 1.75rem;
}
.mainBlock{
	display: flex;
	flex-direction: column;
	background: url('../img/headerBg.jpg') no-repeat;
	background-size: cover;
	.header{
		display: flex;
		flex-direction: column;
	}
	h1{
		text-align: center;
		padding: 0rem 6rem 3rem 6rem;
		font-size: 4rem;
		font-weight: 600;
		color: #fff;
	}
	.callBack{
		margin: auto;
		width: 208px;
		height: 55px;
		border: 2px solid #FFF;
		border-radius: 5px;
		background-color: transparent;
		color: #fff;
	}
	.arrowDown{
		margin: auto;
		padding-top: 10.625rem;
		cursor: pointer;
	}
}
.blockDescription{
	background: linear-gradient(165.95deg, #D1C6B0 0%, #FFFFFF 50.83%, #D3D3D3 100%);
	.title{
		font-weight: 600;
		line-height: 52px;
		font-size: 48px;
		padding:2rem 0;
	}
	.callBack{
		margin-bottom: auto;
		width: 208px;
		height: 55px;
		border: 2px solid #FFF;
		border-radius: 5px;
		background-color: transparent;
		color: #fff;
		filter: invert(100%);
	}
	.sliderImg{
		padding: 2rem 0 2rem 0;
		img{
			margin-bottom: 2.5rem;
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
		}		
	}
	.btnBlock{
		display: flex;
		justify-content: space-between;
		// button:first-child{
		// 	align-self: flex-start;
		// }
	}
}
h2{
	font-weight: 600;
	font-size: 3rem;
	text-align: center;
}
.advantages{
	color: #fff;
	background: url('../img/advantagesBg.jpg') no-repeat center;
	.title{
		padding-top: 2.5rem;
	}
	.advBlock{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.advBlockText{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 2rem 2rem;
			width: 15rem;
			float: left;
			.imgTitle{
				margin: 1rem auto;
			}
			.advText{
				font-weight: 600;
				font-size: 0.875rem;
				text-align: center;
			}
		}
	}
}

.comment{
	background: linear-gradient(180deg, #CDEFA1 0%, #D1CDE2 100%);
	.title{
		padding: 2.5rem 0;
	}
	.comBlockMain{
		padding: 4.125rem 0 5rem 0;
		display: flex;
		justify-content: space-around;
		.comAvatar{
			margin-right: 2rem;
		}
		.comText{
			padding: 1rem;
			.name{
				padding-bottom: 1.875rem;
			}
		}
	}
}
.partners{
	background: -webkit-linear-gradient(271deg, #2F2F2F 0%, #5C5C5C 100%);
	background: -o-linear-gradient(271deg, #2F2F2F 0%, #5C5C5C 100%);
	background: linear-gradient(1deg, #2F2F2F 0%, #5C5C5C 100%);
	display: flex;
	color: #fff;
	.title{
		padding: 2.5rem 0;
	}
	.partSlide{
		margin:6.125rem auto;
		.partImg{
			display: inline-block;
			&:first-child{
				margin-left: 2rem;
			}
		}
	}
}
.contactForm{
	background: url(novosele--vazhnoe-i-radostnoe-sobytie.jpg) no-repeat center;

}


@import 'media';