$lightYellow: #F9E8AC;
$font48: 3rem;
*{
	margin: 0;
	padding: 0;
}
body,
html{
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
main{
	max-width: 1920px;
	min-width: 320px;
}
header{
	padding: 0 1.75rem;
}
.hidden{
	opacity:0;
}
.visible{
	opacity:1;
}
.mainBlock{
	display: flex;
	flex-direction: column;
	background: url('../img/headerBg.jpg') no-repeat;
	background-size: cover;
	height: 100vh;
	.header{
		display: flex;
		flex-direction: column;
	}
	a{
		margin: auto;
	}
	h1{
		text-align: center;
		padding: 0rem 6rem 3rem 6rem;
		font-size: 4rem;
		font-weight: 600;
		color: #fff;
		transform: translateY(6rem);
	}
	.callBack{
		margin: auto;
		width: 208px;
		height: 55px;
		border: 2px solid #FFF;
		border-radius: 5px;
		background-color: transparent;
		color: #fff;
		transform: translateY(6rem);
		cursor: pointer;
	}
	.arrowDown{
		margin-left: auto;
		margin-right: auto;
		margin-top: 27.625rem;
		cursor: pointer;
	}
	a{
		color: #fff;
		&:hover{
			color: $lightYellow;
		}
	}
}

.blockDescription{
	background: linear-gradient(165.95deg, #D1C6B0 0%, #FFFFFF 50.83%, #D3D3D3 100%);
	.title{
		font-weight: 600;
		line-height: 52px;
		font-size: $font48;
		padding:2rem 0;
	}
	.callBack{
		cursor: pointer;
		-webkit-transition: 1s ease-out;
   		transition: 1s ease-out;
		button{
			margin-bottom: auto;
			width: 208px;
			height: 55px;
			border: 2px solid #FFF;
			border-radius: 5px;
			background-color: transparent;
			color: #fff;
			filter: invert(100%);
			cursor: pointer;
		}
	}
	.sliderImg{
		padding: 2rem 0 2rem 0;
		img{
			margin-bottom: 2.5rem;
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
		}		
	}
	.btnBlock{
		display: flex;
		justify-content: space-between;
		padding: 0 3rem;
	}
	.textDescription{
		text-align: justify;
		padding: 0 3rem;
	}
}

h2{
	font-weight: 600;
	font-size: $font48;
	text-align: center;
}
.gen{
	background: linear-gradient(180deg, #CDEFA1 0%, #D1CDE2 100%);
}
.advantages{
	color: #fff;
	background: url('../img/advantagesBg.jpg') no-repeat center;
	background-size: cover;
	.title{
		padding-top: 2.5rem;
	}
	.advBlock{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.advBlockText{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 2rem 2rem;
			width: 15rem;
			float: left;
			.imgTitle{
				margin: 1rem auto;
			}
			.advText{
				font-weight: 600;
				font-size: 0.875rem;
				text-align: center;
			}
		}
	}
}

.comment{
	.title{
		padding: 2.5rem 0;
	}
	.comBlockMain{
		padding: 4.125rem 0 5rem 0;
		display: flex;
		justify-content: space-around;
		.comAvatar{
			margin:auto;
			img{
				margin-top: 1.5rem;
			}
		}
		.comText{
			padding: 1rem;
			margin:auto;
			.name{
				padding-bottom: 1.875rem;
			}
		}
	}
}
.general{
	background: linear-gradient(299.87deg, #2F2F2F 0%, #5C5C5C 100%);
}
.partners{
	display: flex;
	color: #fff;
	.title{
		padding: 2.5rem 0;
	}
	.slick-slide{
		img{
			padding: 1rem;
		}
	}
	.partSlide{
		margin:6.125rem auto;
		.partImg{
			display: inline-block;
			&:first-child{
				margin-left: 2rem;
			}
		}
	}
}
.contactForm{
	background: url('../img/commBg.jpg') center;
	background-size: cover;
	display: flex;
	padding: 6rem 0;
	.mainFormBlock{
		padding: 1rem 0;
		display: flex;
		flex-direction: column;
		margin: 9.625rem 10rem 0 auto;
		.title{
			font-weight: 600;
			font-size: 24px;
			text-align: center;
			margin: 2.5rem 0;
		}
		.formBlock{
			display: flex;
			flex-direction: column;
			input,
			textarea{
				margin-bottom:1.25rem;
				padding:10px 0 10px 5px;
				background-color: $lightYellow;
				border: 1px solid #000000;
			}
		}
		.callBack{
			margin: 1rem auto;
			width: 208px;
			height: 55px;
			border: 2px solid #000;
			border-radius: 5px;
			background-color: transparent;
			color: #000;
			cursor: pointer;
		}
		p{
			font-weight: 300;
			font-size: 9px;
			text-align: center;
			margin-bottom:4.5rem;
		}
	}
}
footer{
	color: #fff;
	// background: linear-gradient(299.87deg, #2F2F2F 0%, #5C5C5C 100%);
	h2{
		padding-top:2.75rem;
	}
	.contatctBlock{
		padding: 3.625rem 0 7rem 0;
		.contactBlockText{
			margin: auto 0;
			p{
				padding-bottom: 2rem;
			}
		}
	}
	.contactBlockMap{
		display: flex;
		iframe{
			margin-left: auto;
		}
	}
}
// Modal
.modalForm{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	position: fixed;
	z-index: 5000;
}
.modal{
	background: linear-gradient(180deg, #CDEFA1 0%, #D1CDE2 100%);
	top: 30%;
	left: 25%;
	width: 50%;
	height: 60%;
	.modalMainBlock{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		align-content: center;	
	}
	img{
		margin: 20% 3rem;
	}
	.modalText{
		padding: 25% 2rem 0 2rem;
		text-align: center;
	}
	.modalClose{
		font-size: 2rem;
		position: absolute;
		right: 1rem;
		top: 0;
		line-height: initial;
		cursor: pointer;
	}
}
// @import "button";

@import "media";